{% extends "base/base_5.html" %}

{% load i18n %}

{% block js %}

<script language="JavaScript">
</script>

{% endblock %}

{% block title %}Ximpia - {% trans "Change Password" %}{% endblock %}

{% block sectionTitle %}
{% endblock %}

{% block sectionContent %}

<div id="id_changePassword" class="sectionComp">
	
<form id="form_changePassword" action="" method="post" data-xp="{}" >
	
<fieldset>
<legend>New Password</legend>
<div class="formBlock" style="margin-top: 0px;">
<div id="id_newPassword_comp" data-xp-type="basic.text" data-xp="{info: true, type: 'password', tabindex: '1'}" ></div>
<br/>
<div id="id_newPasswordConfirm_comp" data-xp-type="basic.text" data-xp="{info: true, type: 'password', tabindex: '2'}" ></div>

<br/>

</div>
</fieldset>

<input type="hidden" name="result" value="{{result}}" />

</form>

</div>

{% endblock %}

{% block buttons %}

<div id="id_pageButton" class="btBar">
<div id="id_doSave_comp" data-xp-type="button" data-xp="{form: 'form_changePassword', align: 'left', text: 'Save', mode: 'actionMsg', type: 'color', action: 'doNewPassword'}" ></div>
</div>

{% endblock%}
