{% load static from staticfiles %}
<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %}</title>

<link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
<link rel="apple-touch-icon" href="{% static "images/ximpia_icon.png" %}">

<link rel="stylesheet" href="{% static "jQueryThemes/start/jquery-ui-1.8.9.custom.css" %}" type="text/css" />
<link href="{% static "css/ximpia.qtip.css" %}" rel="stylesheet" type="text/css" />	
<link href="{% static "css/ximpia.combobox.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/ximpia.jscrollpane.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/ximpia.selectBox.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/ximpia.flexbox.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="fb-root"></div>

{% block id_view %}
{% endblock %}

<div id="id_header_wrapper">
<div id="id_header" >
	
<!--<header id="id_header" >-->

<form id="form_header" action="" method="post" >

<div id="Logo" style="margin-top: 5px; margin-left: 0px">
<a href="/" ><img id="LogoImg" src="{% static "images/ximpia-logo-small-plano.png" %}" alt=" " style="height: 35px; " /> </a>
<!-- Make this link with javascript when user logs in: href="#" onclick="return false" -->
<!-- <a href="/" onclick="return false"><img id="LogoImg" src="{% static "images/ximpia-logo-small-plano.png" %}" alt=" " style="height: 35px;margin: 1px 10px;" /> </a> -->
</div>

<div id="id_header_extra">

<input type="text" id="id_header_search" name="search" class="InputText viewSearch" style="float: left; width: 270px; margin-right: 5px; margin-top: 15px" x-webkit-speech  />

<div id="IconMenu">	

<nav id="id_mainIcons" style="margin-top: 2px; margin-left: 5px">

<!--
<div style="float: left; height: 35px; margin-top: 3px; border-radius: 7px; margin-right: 5px; background-color: #333">
	<a href="" style="text-decoration:none; color: #000">
		<img src="http://localhost:8000/static/images/home_32.png" style="margin-top: 1px; float: left; width: 32px; height: 32px; margin-left: 5px; margin-right: 5px" />
	</a>
</div>
-->

</nav>

<nav id="id_viewIcons" style="margin-right: 5px; border: 0px solid #fff; margin-top: -1px; float: right ">

<!--<div class="iconMenuBlock">
	<a href="" >
		<img src="http://localhost:8000/static/images/process_32.png"  />
		<div>Code</div>
	</a>
</div>

<div class="iconMenuBlock">
	<a href="" >
		<img src="http://localhost:8000/static/images/users_two_32.png"  />
		<div>Join Us</div>
	</a>
</div>

<div class="iconMenuBlock">
	<a href="" >
		<img src="http://localhost:8000/static/images/contact-us-icon_32.png"  />
		<div>Contact Us</div>
	</a>
</div>-->

<!--
<div id="id_icon_code" data-xp-type="icon" style="float: right" class="iconMenuBlock" data-xp-render="true" oldtitle="Get the Code" aria-describedby="ui-tooltip-2">
	<a href="#" onclick="return false" data-xp="{action: '', view: 'code', params: {}, app: 'site'}">
		<img src="http://localhost:8000/static/images/process_32.png" class="">
		<div>Code</div>
	</a>
</div>
-->

<div style="clear: both" > </div>

</nav>

</div>

</div>

<nav>
</nav>

</form>

<!--</header>-->
</div>
</div>



<div id="Wrapper">

<nav id="id_navBar" >
</nav>

<section id="id_sect_loading" >
</section>

<section id="id_sectionTitle" class="sectionTitle">

{% block sectionTitle %}
{% endblock%}

</section>

<section id="id_content" class="sectionContent">

{% block sectionContent %}
{% endblock%}

</section>

<section id="id_sectionButton" class="sectionButton">

{% block buttons %}
{% endblock %}

</section>

</div>

<br/>

<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>-->
<script type="text/javascript" src="{% static "js/jquery/jquery-1.6.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/ximpia.metadata.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/ximpia.jqDock.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-common/ximpia.settings.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-common/ximpia.common.js" %}"></script>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBQzkNe8GObf8_Wx_SJEVFvejmByPpknWk&sensor=false"></script>

{% block scripts %}
{% endblock %}

<script type="text/javascript" src="{% static "js/core/ximpia-plugins/ximpia.passStrengthener.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/ximpia.form.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/ximpia.validate.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/ximpia.jsonSuggest.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/ximpia.networkIcon.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/ximpia.loading.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/ximpia.pageButton.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/ximpia.mousewheel.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/ximpia.mwheelIntent.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/ximpia.jscrollpane.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/ximpia.selectBox.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/ximpia.flexbox.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/ximpia.contextMenu.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/ximpia.render_ext.js" %}"></script>

<script type="text/javascript" src="{% static "js/core/ximpia-plugins/visual-components/input/ximpia.input.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/visual-components/list/ximpia.list.select.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/visual-components/list/ximpia.list.field.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/visual-components/input/ximpia.textarea.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/visual-components/action/ximpia.button.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/visual-components/action/ximpia.link.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/visual-components/window/ximpia.popup.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/visual-components/action/ximpia.icon.js" %}"></script>
<script type="text/javascript" src="{% static "js/core/ximpia-plugins/visual-components/action/ximpia.context_menu.js" %}"></script>

<script type="text/javascript" src="{% static "js/core/ximpia-plugins/ximpia.qtip.js" %}"></script>
<!--<script type="text/javascript" src="{% static "js/json.js" %}"></script>-->
<!--<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>-->
<!-- x-webkit-speech -->

<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>


<script>

jQuery(document).ready(function($){

	ximpia.common.Page.init();
	//var viewData = ximpia.common.Window.getViewAttrs();
	//ximpia.console.log('viewData...');
	//ximpia.console.log(viewData);
	var pageJx = ximpia.common.PageAjax();
	var data = $('[name="result"]').val();
	ximpia.console.log('data...');
	ximpia.console.log(data);
	pageJx.renderCtx(data);
	/*ximpia.common.Page.init();
	var viewData = ximpia.common.Window.getViewAttrs();
	var pageJx = ximpia.common.PageAjax();
	var callback = eval(viewData.callback);
	var data = $('[name="ctx"]').val();
	pageJx.init({	path: ximpia.common.Path.getBusiness(),
			viewName: viewData.viewName,
			callback: callback,
			verbose: true});
	pageJx.renderCtx(data)*/
});

</script>

<!--</section>-->

</body>

</html>
