<!DOCTYPE html>
<html>

<head>
<title>Ximpia - Making Easier Web Development - Beta</title>
</head>

<body>
	
<div id="id_view_zone" >

<!-- View Definition -->
<div id="id_view" 
		data-xp="{viewName: 'home'}" 
		data-xp-cond-rules="" >
</div>
<!-- View Definition -->

<!-- Title Bar -->
<section id="id_sectionTitle" >
<div id="id_titleBar" class="titleBar">
<div style="float: left"><b>Welcome to Ximpia: Making Easier Web Development</b></div>
</div>
</section>
<!-- Title Bar -->

<!-- Content -->
<section id="id_content" class="sectionContent">

<div id="id_home" class="sectionComp" >

<form id="form_home" action="" method="post" data-xp="{}" >

$project_title

</form>

<br/>

</div>

</section>
<!-- Content -->

<!-- Page Button Bar -->
<section id="id_sectionButton" class="sectionButton">
</section>
<!-- Page Button Bar -->

</div>

</body>

</html>
