<!DOCTYPE html>
<html>

<head>
<title>Ximpia - New Password</title>
</head>

<body>

<!-- View Definition -->
<div id="id_view" data-xp="{viewName: 'reminderNewPassword'}" ></div>
<!-- View Definition -->

<!-- Title Bar -->
<section id="id_sectionTitle" >
<div id="id_titleBar" class="titleBar">
<div style="float: left"><b>New password</b></div>
</div></section>
<!-- Title Bar -->

<!-- Content -->
<section id="id_content" class="sectionContent">

<div id="id_activateUser" class="sectionComp">

<form id="form_changePassword" action="" method="post" data-xp="{}" >

<fieldset>
<legend>New Password</legend>
<div class="formBlock" style="margin-top: 0px;">

<!-- ximpiaId -->
<div id="id_username_comp" 
		data-xp-type="field" 
		data-xp="{tabindex: '1', label: 'XimpiaId', 'readonly': 'readonly'}" > </div>

<!-- newPassword -->
<div id="id_newPassword_comp" data-xp-type="field" 
		data-xp="{info: true, type: 'password', tabindex: '2', class: 'passwordStrength'}" ></div>

<!-- newPasswordConfirm -->
<div id="id_newPasswordConfirm_comp" data-xp-type="field" 
		data-xp="{info: true, type: 'password', tabindex: '3'}" ></div>

<br/>

</div>
</fieldset>

<br/>

</form>

</div>

</section>
<!-- Content -->

<!-- Page Button Bar -->
<section id="id_sectionButton" class="sectionButton">
	
<div id="id_pageButton" class="btBar">
<div id="id_doSave_comp" data-xp-type="button" data-xp="{		form: 'form_changePassword', 
																align: 'left', 
																text: 'Save', 
																mode: 'actionMsg', 
																type: 'color', 
																action: 'finalizeReminder'}" ></div>
</div>	
	
</section>
<!-- Page Button Bar -->

</body>
</html>
