<!DOCTYPE html>
<html>

{% load i18n %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!--<link rel="shortcut icon" href="{{p.lnk_d.S3}}/images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{{p.lnk_d.S3}}/images/favicon.png">
<link rel="apple-touch-icon" href="{{p.lnk_d.S3}}/images/favicon.png" type="image/png" />

<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://blog.buscaplus.com/feed/"  />
<link rel="alternate" type="text/xml" title="RSS .92" href="http://blog.buscaplus.com/feed/rss/"  />
<link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="http://blog.buscaplus.com/feed/atom/" />-->

<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" href="{{settings.MEDIA_URL}}jQueryThemes/start/jquery-ui-1.8.9.custom.css" type="text/css" />
<link href="{{settings.MEDIA_URL}}css/main.css" rel="stylesheet" type="text/css" />
{% block css %}
{% endblock %}

</head>

<body>

{% block form %}<form id="Form1" action="">{% endblock %}
{% csrf_token %}

<table width="100%" cellspacing="0" cellpadding="0"><tr><td align="center" >

<div id="Wrapper" >

    <div id="Header" >
    
    <div id="Logo">
    {% if request.user.is_authenticated %}
    <img id="LogoImg" src="/site_media/images/blank.png" /> <br/>
	<img id="BetaImg" src="/site_media/images/blank.png" />
	{% else %}
	<a href="/"><img id="LogoImg" src="/site_media/images/blank.png" /> <br/>
	<img id="BetaImg" src="/site_media/images/blank.png" /></a>
	{% endif %}
    
    </div>
    
    <div id="IconMenu">
    	{% if user.is_authenticated %}

        <!--<img src="/site_media/images/home_60.png" title="Home" />
        <img src="/site_media/images/users_two_60.png" title="Contacts" />
        <img src="/site_media/images/globe_60.png" title="Links" />
        <img src="/site_media/images/folder_full_60.png" title="Files" />
        <img src="/site_media/images/lightbulb_60.png" title="Help" />
        <img src="/site_media/images/spanner_60.png" title="Settings" />
        <img src="/site_media/images/logout_60.png" title="Logout" />-->
		
		<img src="/site_media/images/add_60.png" title="Signup" />
		<img src="/site_media/images/users_two_60.png" title="Friends" />
		<img src="/site_media/images/paper_content_60.png" title="About Us" />
		<img src="/site_media/images/mail_add_60.png" title="Contact Us" />
		<img src="/site_media/images/lock_60.png" title="Privacy" />
        <img src="/site_media/images/go_60.png" title="Login" />
		
		{% else %}
		
        <!--<a href="/"><img src="/site_media/images/home_60.png" title="Home" /></a>-->
		<img src="/site_media/images/add_60.png" title="Signup" />
		<img src="/site_media/images/users_two_60.png" title="Friends" />
		<img src="/site_media/images/paper_content_60.png" title="About Us" />
		<img src="/site_media/images/mail_add_60.png" title="Contact Us" />
		<img src="/site_media/images/lock_60.png" title="Privacy" />
        <img src="/site_media/images/go_60.png" title="Login" />
		
		{% endif %}
    </div>
    
    </div>
    <!-- End Header -->
    
	{% if bar %}
    <div id="HeaderBar" style="margin-top:2px;">    
    <table style="border:0px solid; position:relative; left: -128px" width="100%">
    <tr>
    <td>
        <!-- Icons Here -->
    </td>
    <td style="text-align:right">
    <input type="text" class="InputTextSmall ShortcutStart" name="" id="" value="What do you want to do?" style="width:200px" />
    </td>
    </tr>
    </table>
    </div>
    <!-- End HeaderBar -->
	{% endif %}
    
    <div id="Apps" style="border:solid 1px #ddd; margin-top:10px" >
    
	{% block app %}
	{% endblock %} 
    
    </div>
    <!-- End Apps -->
    
    <br class="clearfloat"/>

    <div id="Footer">
        <div id="FooterText">
        <table width="100%"><tr><td style="width: 100px">
        &copy; 2011 &nbsp;<a href="http://www.tecor.com"><img id="TecorLogo" src="http://ximpia-test.s3.amazonaws.com/images/blank.gif" alt="Tecor Communications S.L." title="Tecor Communications S.L." /></a>
        </td><td>
        <!--<a href="/es/quienesSomos.html">Quienes Somos</a> | <a href="/es/apoyos.html">Nuestros Apoyos</a> | <a href="/robi/">Robi, El Robot</a> | <a href="/es/contacto.html">Contacta</a> | 
        <a href="/es/contract/privacy.html">Privacidad</a> | --><a href="http://twitter.com/ximpia" target="site">@ximpia</a>
        </td></tr></table>
        </div>
    </div>
    
</div>

<br/>

</td></tr></table>

<!-- START POPUP MESSAGE -->
<div class="Pops">
<div id="PopMessage" class="PopMessage">
<div id="PopMsgWrapper">
<div class="MsgTitle"></div>
<div class="MsgText"></div>
<div class="MsgButtons"></div>
</div>
<br class="clearfloat" />
</div>
<!--[if lte IE 6.5]><iframe></iframe><![endif]-->
</div>
<!-- END POPUP MESSAGE -->

<p id="Variables">
	
	<input type="hidden" id="id_ERR_GEN_VALIDATION" name="ERR_GEN_VALIDATION" value="{% trans "Error validating your data. Check errors marked in red" %}" />
	<input type="hidden" id="id_siteMedia" name="siteMedia" value="{{settings.MEDIA_URL}}" />
	<input type="hidden" id="id_buttonConstants" name="buttonConstants" value="[['close','{% trans "Close" %}']]" />
	
	<input type="hidden" id="id_facebookAppId" name="facebookAppId" value="{{settings.FACEBOOK_APP_ID}}" />	

{% block hidden %}

{% for field in form %}
    {% if field.is_hidden %}
    {{field}}
	{% endif %}
{% endfor %}

{% endblock %}

</p>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>

<!--
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
-->

<script type="text/javascript" src="{{settings.MEDIA_URL}}js/ximpia-plugins/ximpia.jqDock.js"></script>
<script type="text/javascript" src="{{settings.MEDIA_URL}}js/ximpia-common/ximpia.common.js"></script>


{% block js %}
{% endblock %}

<script language="JavaScript">
	
jQuery(document).ready(function($){

    // set up the options to be used for jqDock...  
    var labelTransform = function(labelText, optionIndex){ //scope (this) is the #menu element
		rtn = "<div class='jqDockLabelNew' style='position: relative'>" + labelText + "</div>";
        return rtn;
      },
    dockOptions = { align: 'top' // horizontal menu, with expansion DOWN from a fixed TOP edge
        , labels: true  // add labels (defaults to 'br')
        , size: 45
	   ,setLabel: labelTransform
    };
    // ...and apply...
    $('#IconMenu').jqDock(dockOptions);  
	
	//jQuery.validator.messages.required = "";
	// Ximpia Generic Validations
	jQuery.validator.addMethod("ximpiaId", function(value, element) {
		return this.optional(element) || /^[a-zA-Z0-9_.@+-]+$/i.test(value);
	}, "mensaje");
	jQuery.validator.addMethod("password", function(value, element) {
		return this.optional(element) || /^[a-zA-Z0-9$#!&%]+$/i.test(value);
	}, "mensaje");

<!--{% block jquery %}-->
<!--{% endblock %}--> 

});

</script>

</form>

{% block forms %}
{% endblock %}

<form id="id_formAjax" action="/DontKnow" method="post">
	<input id="id_formAjax_jsonData" type="hidden" name="jsonData" value="" />
{% csrf_token %}
</form>

</body>
</html>
