<!DOCTYPE html>
{% load static from staticfiles %}
{% load i18n %}
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}{{title}}{% endblock %}</title>

<link rel="shortcut icon" href="{% static "ximpia/images/favicon.ico" %}">
<link rel="apple-touch-icon" href="{% static "ximpia/images/ximpia_icon.png" %}">
<!--<link rel="stylesheet" type="text/css" href="{% static "jQueryThemes/start_old/jquery-ui-1.8.9.custom.css" %}"  />-->
<link rel="stylesheet" type="text/css" href="{% static "jQueryThemes/base/jquery-ui.css" %}"  />	
<link rel="stylesheet" type="text/css" href="{% static "ximpia/themes/base/base.css" %}"  />
<link rel="stylesheet" type="text/css" href="{% static "ximpia/themes/base/base.plugins.css" %}"  />
<link rel="stylesheet" type="text/css" href="{% static "ximpia/css/main.css" %}"  />
{% block styles %}
{{styles|safe}}
{% endblock %}
</head>

<body>

<div id="id_header_wrapper">
<div id="id_header" >

<form id="form_header" action="" method="post" >

<div id="Logo" style="margin-top: 5px; margin-left: 0px">
<a href="/" ><img id="LogoImg" src="{% static "images/logo.png" %}" alt=" " style="height: 35px; " /> </a>
<!-- Make this link with javascript when user logs in: href="#" onclick="return false" -->
<!-- <a href="/" onclick="return false"><img id="LogoImg" src="{% static "images/logo.png" %}" alt=" " style="height: 35px;margin: 1px 10px;" /> </a> -->
</div>

<div id="id_sys_selector" class="sys-selector"  >
<a href="#" ><img src="{% static "images/blank.png" %}" alt=" " /></a>
</div>

<div id="id_header_extra">

<input type="text" id="id_header_search" name="search" class="InputText viewSearch" />

<div id="IconMenu" style="padding-top: 0px">	

<nav id="id_mainIcons" >
</nav>
<nav id="id_viewIcons" >
</nav>
<nav id="id_serviceIcons" >
</nav>

<div style="clear: both" > </div>

</div>

</div>

<nav>
</nav>

</form>

</div>
</div>

<div id="Wrapper">

<nav id="id_navBar" >
</nav>

<section id="id_sect_loading">
<div style="width: 300px; margin: auto; margin-top: 100px">
<div id="id_loading_text" >Loading...</div>
</div>
</section>

<div id="id_view_zone" >

{% block id_view %}
{{id_view|safe}}
{% endblock %}

<section id="id_sectionTitle" class="sectionTitle">

{% block sectionTitle %}
{{titleBar|safe}}
{% endblock%}

</section>

<section id="id_content" class="sectionContent" >	

{% block sectionContent %}
{{content|safe}}
{% endblock%}

<input type="hidden" name="result" value="{{result}}" />

</section>

<section id="id_sectionButton" class="sectionButton">

{% block buttons %}
{{buttons|safe}}
{% endblock %}

</section>

{% block footer %}
{{footer|safe}}
{% endblock %}

</div>

</div>

<script type="text/javascript" src="{% static "ximpia/js/jquery/jquery-1.6.min.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/jquery/jquery-ui-1.10.0.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/jquery-plugins/ximpia.metadata.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/core/settings.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/core/core.js" %}"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQzkNe8GObf8_Wx_SJEVFvejmByPpknWk&sensor=false"></script>

{% block scripts %}
{{scripts|safe}}
{% endblock %}

<script type="text/javascript" src="{% static "ximpia/js/jquery-plugins/ximpia.passStrengthener.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/jquery-plugins/ximpia.form.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/jquery-plugins/ximpia.validate.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/jquery-plugins/ximpia.jsonSuggest.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/jquery-plugins/ximpia.networkIcon.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/jquery-plugins/ximpia.loading.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/jquery-plugins/ximpia.pageButton.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/jquery-plugins/ximpia.mousewheel.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/jquery-plugins/ximpia.mwheelIntent.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/jquery-plugins/ximpia.jscrollpane.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/jquery-plugins/ximpia.flexbox.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/jquery-plugins/ximpia.contextMenu.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/jquery-plugins/ximpia.render_ext.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/jquery-plugins/ximpia.qtip.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/jquery-plugins/ximpia.timepicker.js" %}"></script>

<script type="text/javascript" src="{% static "ximpia/js/core/components/layout.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/core/components/list.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/core/components/input.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/core/components/action.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/core/components/window.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/core/components/media.js" %}"></script>
<script type="text/javascript" src="{% static "ximpia/js/core/components/content.js" %}"></script>

<!--<script type="text/javascript" src="{% static "ximpia/js/json.js" %}"></script>-->
<script type="text/javascript" src="https://connect.facebook.net/en_US/all.js"></script>
<!-- x-webkit-speech -->
<script type="text/javascript" src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>

<script type="text/javascript">/* <![CDATA[ */
jQuery(document).ready(function($){
	$("#id_sect_loading").css('left', $(".sectionComp").offset().left);
	var pageJx = ximpia.common.PageAjax();
	var data = $('[name="result"]').val();
	ximpia.console.log('data...');
	ximpia.console.log(data);	
	pageJx.renderCtx(data);
	// Menu navigation
	$(window).bind('popstate', function(event) {
		var state = event.originalEvent.state;
		if (state) {
			ximpia.console.log(state);
			pageJx.getView({ view: state.view, params: JSON.stringify({}), app: state.app}, state=false);
		}
	});
	var stateData = {
			appSlug: "{{appSlug}}",
			viewSlug: "{{viewSlug}}",
			app: "{{app}}",
			view: "{{view}}"
	};
	window.history.pushState(stateData, "{{title}}", "{{request.path}}");
});

/* ]]> */</script>

</body>

</html>
