{% extends "base/base_5.html" %}

{% load i18n %}

{% block title %}Ximpia - {% trans "Agile Application Framework - Beta" %}{% endblock %}

{% block sectionTitle %}

<section id="id_sectionTitle" ><div id="id_titleBar" class="titleBar">
<div style="float: left"><b>Welcome to Ximpia</b></div>
</div></section>
{% endblock %}

{% block sectionContent %}

<div id="id_home" class="sectionComp" >

<form id="form_home" action="" method="post" data-xp="{}" >

<div style="float: right; margin-right: 27px; border: 0px solid">
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://ximpia.com" data-text="Check out Ximpia, an easy to use agile development framework" data-via="ximpia" data-size="large">Tweet About Us</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<a href="https://twitter.com/ximpia" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @ximpia</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<br/>

<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fximpia&amp;width=292&amp;height=500&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=true&amp;header=true&amp;appId=180219935334975" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:500px;" allowTransparency="true"></iframe>

</div>

<div style="border: 1px solid #ddd; margin-bottom: 10px; width: 640px; margin-left: 7px; margin-top: 7px"> 
<iframe width="640" height="360" src="http://www.youtube.com/embed/2MM-eJipNfQ" frameborder="0" allowfullscreen></iframe>
<div style="border: 0px solid; padding-left: 10px">
<a href="http://www.youtube.com/watch?v=2MM-eJipNfQ&feature=plcp" target="youtube"><b>What is Ximpia?</b></a><br/>
Take a look at Ximpia. Mission: Decrease web application development cost and reduce time to market with an easy to use agile development framework.
</div>
</div>

<br/><br/><br/><br/>

<input type="hidden" name="result" value="{{result}}" />

</form>

</div>

{% endblock %}
