{% extends "base/base_5.html" %}

{% load i18n %}

{% block title %}Ximpia - {% trans "Agile Application Framework - Beta" %}{% endblock %}

{% block sectionTitle %}
{% endblock %}

{% block sectionContent %}

<div id="id_home" class="sectionComp">

<form id="form_home" action="" method="post" data-xp="{}" >

<div style="float: right; margin-right: 7px">
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://ximpia.com" data-text="Check out Ximpia, an easy to use agile development framework" data-via="ximpia" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<br/><br/>

<a href="https://twitter.com/ximpia" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @ximpia</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<br/><br/>

<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fximpia&amp;width=292&amp;height=200&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=true&amp;appId=180219935334975" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:590px;" allowTransparency="true"></iframe>
</div>

<div style="border: 1px solid #ddd; margin-bottom: 10px; width: 640px; margin-left: 7px; margin-top: 7px">

<iframe width="640" height="360" src="http://www.youtube.com/embed/2MM-eJipNfQ?wmode=transparent" frameborder="0" allowfullscreen></iframe>

<div style="border: 0px solid; padding-left: 10px">
<b>What is Ximpia?</b><br/>
Decrease web application development cost and reduce time to market with an easy to use agile development framework.
</div>

</div>

<!-- <iframe width="640" height="360" src="http://www.youtube.com/embed/oRB2IkWaVg0" frameborder="0" allowfullscreen></iframe> -->

<div style="border: 1px solid #ddd; margin-bottom: 10px; width: 640px; margin-left: 7px; margin-top: 7px">

<iframe width="640" height="360" src="http://www.youtube.com/embed/oRB2IkWaVg0?wmode=transparent" frameborder="0" allowfullscreen></iframe>

<div style="border: 0px solid; padding-left: 10px">
<b>Building Apps - PopUp Example</b><br/>
How to develop applications in Ximpia. Example of a change password popup. The 
video explains models, forms, views, visual components, actions and registry of components.
</div>

</div>


<input type="hidden" name="result" value="{{result}}" />

</form>

</div>

{% endblock %}
