<!DOCTYPE html>
<html>

<head>
<title>Ximpia - Verify Email</title>
</head>

<body>

<!-- View Definition -->
<div id="id_view" data-xp="{viewName: 'activationUser'}" ></div>
<!-- View Definition -->

<!-- Title Bar -->
<section id="id_sectionTitle" >
<div id="id_titleBar" class="titleBar">
<div style="float: left"><b>User Activation</b></div>
</div></section>
<!-- Title Bar -->

<!-- Content -->
<section id="id_content" class="sectionContent">

<div id="id_activateUser" class="sectionComp">

<form id="form_activateUser" action="" method="post" data-xp="{}" >

<div align="center">
<div class="infoMsg" align="center" style="margin-top: 25px; margin-bottom: 25px">

<h1>Thank You!</h1>

<p>Your email address has been validated and your Ximpia account created. Login to enter your account.</p>

</div>
</div>

</form>

</div>

</section>
<!-- Content -->

<!-- Page Button Bar -->
<section id="id_sectionButton" class="sectionButton">
</section>
<!-- Page Button Bar -->

</body>
</html>
