<div id="id_{{networkName}}IconBlock" style="width: 85px">
	{% if login %}
	<img id="id_{{networkName}}Icon" src="{{settings.MEDIA_URL}}images/blank.png" class="IconUsed {{networkName|capfirst}}Icon AuthIcon" />
	{% else %}
	<img id="id_{{networkName}}Icon" src="{{settings.MEDIA_URL}}images/blank.png" class="Icon {{networkName|capfirst}}Icon AuthIcon" />
	{% endif %}	
	{% if login %}	
	<img id="id_{{networkName}}Status" src="{{settings.MEDIA_URL}}images/blank.png" class="IconStatusOK" style="visibility:visible;" />
	{% else %}
	<img id="id_{{networkName}}Status" src="{{settings.MEDIA_URL}}images/blank.png" class="IconStatusOK" style="visibility:hidden;" />
	{% endif %}		
</div>
