{% extends "base/base_5.html" %}

{% load i18n %}

{% block title %}Ximpia - {% trans "Verify Email" %}{% endblock %}

{% block sectionContent %}

<div id="id_activateUser" class="sectionComp">

<form id="form_activateUser" action="" method="post" data-xp="{}" >

<div align="center">
<div class="infoMsg" align="center" style="margin-top: 50px">

<h1>Thank You!</h1>

<p>Your email address has been validated and your Ximpia account created. Login to enter your desktop.</p>

</div>
</div>

<input type="hidden" name="result" value="{{result}}" />

</form>

</div>

{% endblock %}
