<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Password Reminder</title>
</head>

<!-- Configuration for Popup goes here: title, -->
<body>
	
<div id="id_popup" 
		data-xp="{title: 'Remember Your Password'}" >
</div>

<!-- Content -->
<section id="id_content" class="sectionContent">

<div id="id_password_reminder">

<form id="form_passwordReminder" action="" method="post" data-xp="{}">

<div id="id_email_comp" data-xp-type="field" data-xp="{info: true}" ></div>

</form>
	
</div>

</section>
<!-- Content -->

<!-- Page Button Bar -->
<section id="id_sectionButton" class="sectionButton">
<div id="id_popupButton" class="btBar">
<div id="id_doPasswordRemind_comp" data-xp-type="button" 
		data-xp="{	form: 'form_passwordReminder', 
					align: 'right', 
					text: 'Remember Password', 
					type: 'iconPopup', 
					mode: 'actionMsg', 
					action: 'requestReminder', 
					clickStatus: 'disable', 
					icon: 'save'}" ></div>
</div>
</section>
<!-- Page Button Bar -->

</body>
</html>
