<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Popup Title</title>
</head>

<!-- Configuration for Popup goes here: title, -->
<body>
	
<div id="id_popup" 
		data-xp="{title: 'Popup Title'}" ></div>

<!-- Content -->
<section id="id_content" class="sectionContent">

<div id="id_templateName">

<form id="form_yourForm" action="" method="post" data-xp="{}">

<!-- Add components here -->

</form>
	
</div>

<br/>

</section>
<!-- Content -->

<!-- Page Button Bar -->
<section id="id_sectionButton" class="sectionButton">
<div id="id_popupButton" class="btBar">

<!-- Popup Buttons -->

</div>
</section>
<!-- Page Button Bar -->

</body>
</html>
