<!DOCTYPE html>
<html>

<head>
<title>View Title</title>
</head>

<body>
	
<div id="id_view_zone" >

<!-- View Definition -->
<div id="id_view" 
		data-xp="{viewName: 'viewName'}" 
		data-xp-cond-rules="" >
</div>
<!-- View Definition -->

<!-- Title Bar -->
<section id="id_sectionTitle" >
<div id="id_titleBar" class="titleBar">
<div style="float: left"><b>View Title</b></div>
</div>
</section>
<!-- Title Bar -->

<!-- Content -->
<section id="id_content" class="sectionContent">

<div id="id_viewName" class="sectionComp" >

<div class="contentBlockHome">

<form id="form_formName" action="" method="post" data-xp="{}" >


</form>

<br/>
</div>
</div>

</section>
<!-- Content -->

<!-- Page Button Bar -->
<section id="id_sectionButton" class="sectionButton">

<!-- Buttons and page bottom controls -->

</section>
<!-- Page Button Bar -->

</div>

</body>

</html>
