
body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
	font-size: 0.7em;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	color: #000;	
}

#id_view_zone {
	display: none;
}

a {
	color: #0000CC;
	font-size: 1.2em;
}

*:focus {
	outline-color: #ddd;
	outline-width: 3px;
}

section:focus {
	outline: none;
}

.TextBig {
	font-size:120%;
}


.ShortcutStart {
	color: #dddddd;
	font-size: 90%;
}

div#Wrapper {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	top: 0px;
	border: solid 0px;
}

.app {
	border: 0px solid;
	padding: 0;
}

.sectionApp {
	visibility: hidden;
	margin-top: 0px;
	height: 500px;
	padding-top: 0px;
	border: solid 0px;
	padding-right: 0px;
	padding-left: 0px;
}

.sectionComp {
	margin-top: auto;
	margin-bottom: auto;
}

.sectionContent {
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 10px;
	border:solid 1px #ddd; 
	border-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-top: 49px;
	margin-left: auto;
	margin-right: auto;
	width: 1002px;
}

.sectionContent p {
	font-size: 1.2em;
	line-height: 16px;
}

