/* Dropdown control */
.selectBox-dropdown {
	width: 140px; /* width = (desired width) - padding-right */
	padding-right: 40px;
	position: relative;
	border: solid 1px #BBB;
	line-height: 1.1;
	text-decoration: none;
	color: #000;
	outline: none;
	vertical-align: middle;
	/*background: #F2F2F2;*/
	background: -moz-linear-gradient(top, #F8F8F8 1%, #E1E1E1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #F8F8F8), color-stop(100%, #E1E1E1));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F8F8', endColorstr='#E1E1E1', GradientType=0);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	cursor: default;
	height: 19px;
	font-size: 14px;
	padding-left: 5px;
	/*margin-left: 3px;*/
	border-radius: 8px;
	box-shadow: #ddd 2px 2px 2px;
	border: 1px solid #bbb;
}

.selectBox-dropdown:hover {
	cursor: pointer;
	background: #e9e9e9;
}

.selectBox.selectBox-disabled, .selectBox.selectBox-disabled:hover {
	background: #ccc;
	cursor: default;
}

a.fieldMust {
	background-color:#FFFF99;
}

a.fieldMust:hover {
	background-color:#f2f299;
	cursor: pointer;
}

.selectBox-dropdown:focus,
.selectBox-dropdown:focus .selectBox-arrow {
	border-color: #666;
}

.selectBox-dropdown.selectBox-menuShowing {
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.selectBox-dropdown .selectBox-label {
	width: 100%;
	padding: .2em .3em;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
}

.selectBox-dropdown .selectBox-arrow {
	position: absolute;
	top: 0;
	right: 0;
	width: 23px;
	height: 100%;
	background: url(../images/jquery.selectBox-arrow.gif) 50% center no-repeat;
	border-left: solid 1px #BBB;
}


/* Dropdown menu */
.selectBox-dropdown-menu {
	position: absolute;
	z-index: 99999;
	max-height: 200px;
	border: solid 1px #BBB; /* should be the same border width as .selectBox-dropdown */
	background: #FFF;
	-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	overflow: auto;
	width: 100%;
}


/* Inline control */
.selectBox-inline {
	/*width: 250px;*/
	width: auto;
	/*max-width: 300px;*/
	outline: none;
	border: solid 1px #bbb;
	background: #FFF;
	display: inline-block;
	/*-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;*/
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: #ddd 3px 3px 3px;
	overflow: auto;
}

.selectBox-inline:focus {
	border-color: #666;
}

/* Options */
.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
	list-style: none;
	display: block;
	cursor: default;
	padding: 0;
	margin: 0;
	font-size: 14px;
	/*border-radius: 8px;*/
}

.selectBox-options LI A {
	line-height: 1.5;
	padding: 0 .5em;
	white-space: nowrap;
	overflow: hidden;
	background: 6px center no-repeat;
	/*background: #f2f2f2;*/
	background: #fff;
	
}

.fieldMust .selectBox-options LI A {
	background-color:#FFFF99;
}

.selectBox-options LI.selectBox-hover A {
	background-color: #EEE;
}

.selectBox-options LI.selectBox-disabled A {
	color: #888;
	background-color: transparent;
}

.selectBox-options LI.selectBox-selected A {
	background-color: #C8DEF4;
}

.selectBox-options .selectBox-optgroup {
	color: #666;
	background: #EEE;
	font-weight: bold;
	line-height: 1.5;
	padding: 0 .3em;
	white-space: nowrap;
}


/* Disabled state */
.selectBox.selectBox-disabled {
	color: #888 !important;
}

.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
	opacity: .5;
	filter: alpha(opacity=50);
	border-color: #666;
}

.selectBox-inline.selectBox-disabled {
	color: #888 !important;
}

.selectBox-inline.selectBox-disabled .selectBox-options A {
	background-color: transparent !important;
}