
/* ****** */
/* option */
/* ****** */

div[data-xp-type="option"] {
}

div[data-xp-type="option"] ul {
	list-style-type: none; 
	border: 0px solid; 
	padding-left: 0px; 
	margin-top: 7px; 
	margin-bottom: 7px;
}

div[data-xp-type="option"] ul.ui-option-horizontal li {
	float: left;
}

div[data-xp-type="option"] div.ui-option-label-top {
	border: 0px solid; 
	margin-top: 3px;
}

div[data-xp-type="option"] div.ui-option-label-left {
	float:left;
	border: 0px solid; 
	margin-top: 0px;
}

div[data-xp-type="option"] ul.ui-option-label {
	border: 0px solid; 
	/*margin-top: 3px; 
	margin-bottom: 3px;*/
	padding-top: 1px;
}
