/* Generic context menu styles */
.contextMenu {
	position: absolute;
	/*width: 150px;*/
	width: 12em;
	z-index: 99999;
	border: solid 1px #ccc;
	border-top: 0;
	background: #fff;
	box-shadow: #aaa 5px 5px 5px;
	padding: 0px;
	margin: 0px;
	display: none;
}

.contextMenu li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2px;
	padding-top: 2px;
}

.contextMenu a {
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 20px;
	height: 20px;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 28px;
	font-size: 10pt;
}

.contextMenu li.hover a {
	color: #fff;
	background-color: #3399ff;
	z-index: 0;
}

.contextMenu li.disabled a {
	color: #aaa;
	cursor: default;
}

.contextMenu li.hover.disabled a {
	background-color: transparent;
}

.contextMenu li.separator {
	border-top: solid 1px #ccc;
}

/*
	Adding Icons
	
	You can add icons to the context menu by adding
	classes to the respective LI element(s)
*/

/*.contextMenu li.edit a { background-image: url(images/page_white_edit.png); }
.contextMenu li.cut a { background-image: url(images/cut.png); }
.contextMenu li.copy a { background-image: url(images/page_white_copy.png); }
.contextMenu li.paste a { background-image: url(images/page_white_paste.png); }
.contextMenu li.delete a { background-image: url(images/page_white_delete.png); }
.contextMenu li.quit a { background-image: url(images/door.png); }*/


.contextMenu li.iconHomeSmall a { 
	background-image: url(../images/home_32.png);
	background-size: 18px; 
}
.contextMenu li.iconLogoutSmall a { 
	background-image: url(../images/logout_32.png);
	background-size: 18px; 
}
