<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="https://ximpia-test.s3.amazonaws.com/0.2/images/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="https://ximpia-test.s3.amazonaws.com/0.2/images/ximpia_icon.png">

<!--<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://blog.buscaplus.com/feed/"  />
<link rel="alternate" type="text/xml" title="RSS .92" href="http://blog.buscaplus.com/feed/rss/"  />
<link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="http://blog.buscaplus.com/feed/atom/" />-->
<title>Error Happened!</title>

<link rel="stylesheet" href="https://ximpia-test.s3.amazonaws.com/0.2/jQueryThemes/start/jquery-ui-1.8.9.custom.css" type="text/css" />
<link href="https://ximpia-test.s3.amazonaws.com/0.2/css/ximpia.qtip.css" rel="stylesheet" type="text/css" />	
<link href="https://ximpia-test.s3.amazonaws.com/0.2/css/ximpia.combobox.css" rel="stylesheet" type="text/css" />
<link href="https://ximpia-test.s3.amazonaws.com/0.2/css/ximpia.jscrollpane.css" rel="stylesheet" type="text/css" />
<link href="https://ximpia-test.s3.amazonaws.com/0.2/css/ximpia.selectBox.css" rel="stylesheet" type="text/css" />
<link href="https://ximpia-test.s3.amazonaws.com/0.2/css/ximpia.flexbox.css" rel="stylesheet" type="text/css" />
<link href="https://ximpia-test.s3.amazonaws.com/0.2/css/main.css" rel="stylesheet" type="text/css" />

</head>

<body>

<div id="Wrapper">

<!-- header -->
<header id="id_header" >
<form id="form_header" action="" method="post" >
<div id="Logo" style="margin-top: 13px">
<a href="/" ><img id="LogoImg" src="https://ximpia-test.s3.amazonaws.com/0.2/images/ximpia-logo-small-plano.png" alt=" " style="height: 35px;margin: 1px 10px;" /> </a>
</div>
<div id="id_header_extra">
<div id="IconMenu">	
<nav id="id_mainIcons">
</nav>
<nav id="id_viewIcons" style="margin-right: 5px">
</nav>
</div>
</div>
<nav>
</nav>
</form>
</header>
<!-- header -->

<nav id="id_navBar" >
</nav>

<section id="id_sectionTitle" class="sectionTitle">
</section>

<section id="id_content" class="sectionContent">

<table cellpadding="0" cellspacing="1" class="Padding">
<tr>
<td class="Content" style="text-align:left">
	<table id="SearchPadding"><tr><td style="width: 700px; padding-left: 30px; ">
		<br/>
		<div id="ErrorMessage" style="background-color:#EEEEEE; padding:20px; border-radius: 20px;	border: 2px solid;box-shadow: 10px 10px 5px #888888;">
		<table>
		<tr>
		<td><img src="https://ximpia-test.s3.amazonaws.com/0.2/images/warning_256.png" /></td>
		<td style="padding-left: 10px">
		<h1>Error Happened!</h1>
		<p>
		<b>This is embarrasing!. An error has occured inside Ximpia framework. Notification has been sent to system web administrator, and 
			we will look into the matter as soon as possible. Thanks for your patience during our beta phase. Sorry for the incovience.</b>
		</p>		
		<p>
		<b>Please excuse us for the incovenience this may cause you. Very soon the site will be back online. 
				Thanks for your patience.</b>
		</p>
		<br/><br/><br/>
		</td>
		</tr>
		</table>
		</div>			
		<br/><br/>
	</td>
	</tr>
	</table>
</td>
</tr>
</table>

</section>

</div>

</body>
</html>



