{% load i18n %}
{% load loading %}
<div id="buttonBarBottom" class="BtBar" style="border: 0px solid; width: 800px; background: #eeeeee ">
<table style=" width: 100%" border="0"><tr>
<td width="66%">
	<!-- Button Left -->
	<a id="id_{{idButton}}" href="#" class="button button-blue" data-xp-js="submit" onclick="return false;">
    		<span>{% trans "Signup" %}</span>
	</a>
	   
   <!--<input id="id_{{idButton}}" type="button" value="{% trans "Signup" %}" class="Button submit" />-->
   
   {% loadingSmall idLoadIcon %}
   
</td>
<td width="33%" style="text-align: right;">
    <!-- Button Right -->
</td>
</tr></table>
</div>
