<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="http://static.buscaplus.com/images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="http://static.buscaplus.com/images/favicon.png">

<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://blog.buscaplus.com/feed/"  />
<link rel="alternate" type="text/xml" title="RSS .92" href="http://blog.buscaplus.com/feed/rss/"  />
<link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="http://blog.buscaplus.com/feed/atom/" />
<title>Trabajos de mantenimiento</title>

<link href="http://static.buscaplus.com/themes/RedBaron/css/site-0000.css" rel="stylesheet" type="text/css" />

</head>

<body>

<table width="100%"><tr><td align="center">

<div id="Wrapper">

  <div id="Header">
  	<a href="/"><img src="http://static.buscaplus.com/themes/RedBaron/images/blank.gif" id="Logo" alt="Buscaplus" /></a>
	<span>Trabajos de mantenimiento</span>
	<img src="http://static.buscaplus.com/themes/RedBaron/images/blank.gif" id="BetaImg"/>
  </div>
  
  <div id="Navi">
  	<div id="HorizMenu">
      <ul id="Menu" class="Nav">
	  	<li class="Title"><a href="/" class="Small">Inicio</a></li>
      </ul>
	 </div>
  </div>
  
  <div id="Content">
	
	<table cellpadding="0" cellspacing="1" class="Padding">
	<tr>
	<td class="Content" style="text-align:left">
	
		<table id="SearchPadding"><tr><td style="width: 700px; padding-left: 30px">
		
			<br/>

			<div id="ErrorMessage" style="background-color:#EEEEEE; padding:20px">
			
			<h1>Estamos trabajando en buscaplus.com</h1>
			
			<b>Perdonas las molestias, estamos trabajando en mejorar el sitio web. Muy pronto estaremos
			de vuelta con el servicio.</b>

			<br/><br/><br/>
			
			</div>
			
			<br/><br/>
			

	
		</td>
		</tr>
		</table>

	</td>
	</tr>
	</table>

	</div>


  <br class="clearfloat"/>

  <div id="Footer">
  	<div id="FooterText">	
		&copy; 2009 &nbsp;<a href="http://www.tecor.com"><img id="TecorLogo" src="http://static.buscaplus.com/themes/RedBaron/images/blank.gif" alt="Tecor Communications S.L." title="Tecor Communications S.L." /></a>
	</div>  
  </div>

</div>

</td></tr></table>

</body>
</html>



