<!DOCTYPE html>
<html>

<head>
<title>Ximpia - Logout</title>
</head>

<body>

<div id="id_view_zone" >

<!-- View Definition -->
<div id="id_view" 
		data-xp="{viewName: 'logout'}"
		data-xp-cond-rules="{}" ></div>
<!-- View Definition -->

<!-- Title Bar -->
<section id="id_sectionTitle" ><div id="id_titleBar" class="titleBar">
<div style="float: left"><b>Thanks for visiting us!!!</b></div>
</div></section>
<!-- Title Bar -->

<!-- Content -->
<section id="id_content" class="sectionContent">

<div id="id_logout" class="sectionComp" >

<div style="font-size: 60pt; text-align: center; color: #bbb; padding: 180px; padding-top: 150px">
    Logout Page
</div>

</div>

</section>
<!-- Content -->

<!-- Page Button Bar -->
<section id="id_sectionButton" class="sectionButton">
</section>
<!-- Page Button Bar -->

</div>

</body>

</html>
