{% extends "base/base_5.html" %}

{% load i18n %}

{% block js %}

<script language="JavaScript">
</script>

{% endblock %}

{% block title %}Ximpia - {% trans "Change Password" %}{% endblock %}

{% block id_view %}
<div id="id_view" data-xp="{viewName: 'changePassword', className: 'LoginBusiness', method: 'changePassword'}" />
{% endblock %}

{% block pageForm %}
<form id="form_changePassword" action="" method="post" data-xp="{className: 'LoginBusiness', method: 'login'}" >
{% endblock %}

{% block sectionContent %}

<div id="id_login" class="sectionComp">
	
<fieldset>
<legend>New Password</legend>
<div class="formBlock" style="margin-top: 0px;">
<div id="id_newPassword_comp" data-xp-type="basic.text" data-xp="{info: true, type: 'password', tabindex: '1'}" ></div>
<br/>
<div id="id_newPasswordConfirm_comp" data-xp-type="basic.text" data-xp="{info: true, type: 'password', tabindex: '2'}" ></div>

<br/>

</div>
</fieldset>

</div>

{% endblock %}

{% block buttons %}

<div id="id_pageButton" class="btBar">
<div id="id_doSave_comp" data-xp-type="button" data-xp="{form: 'form_changePassword', align: 'left', text: 'Save', action: 'pageActionMsg', type: 'color', method: 'doNewPassword'}" ></div>
</div>

{% endblock%}
